<template>
  <div class="page-tags">
    <Header />
    <b-container>
      <b-row>
        <h1 class="mb-5">Jogo X</h1>
      </b-row>
      <b-row class="align-items-center justify-content-start">
        <LineChart />
        <BarChart />
    </b-row>
    </b-container>
  </div>
</template>

<script>
import Header from '@/components/Header';
import LineChart from '@/components/LineChart';
import BarChart from '@/components/BarChart';

import '@/styles/chart.scss';

export default {
  name: 'Game',
  components: {
    Header,
    LineChart,
    BarChart
  }
}
</script>
