<template>
  <router-link :class="'btn btn-'+variant" :variant="variant" :to="to"><slot /></router-link>
</template>

<script>
  export default {
    props: {
			variant: {
				type: String,
				required: true
      },
      to: {
				type: String,
				required: true
			}
		}
  };
</script>
