<template>
  <div class="page-tags">
    <Header />
    <b-container>
      <b-row>
        <h1 class="mb-5">Jogo X vs Jogo Y</h1>
      </b-row>
      <b-row class="align-items-center justify-content-start">
        <ApexBarChart />
        <ApexLineChart />
    </b-row>
    </b-container>
  </div>
</template>

<script>
import Header from '@/components/Header';
import ApexBarChart from '@/components/ApexBarChart';
import ApexLineChart from '@/components/ApexLineChart';

import '@/styles/chart.scss';

export default {
  name: 'GamesComparison',
  components: {
    Header,
    ApexBarChart,
    ApexLineChart
  }
}
</script>
