.chart-container {
  height: 100%;
  max-width: 1024px;
  min-width: 300px;
  position: relative;
  width: 100%;
}

.chart-wrapper {
  display: flex;
  align-items: center;
  justify-content: center
}
