* {
  box-sizing: border-box;
  margin: 0;
  outline: 0;
  padding: 0;
}

*:focus {
  outline: 0;
}

body {
  background-color: #fff;
  color: var(--text-color);
  font-size: 16px;
  -webkit-font-smoothing: antialised;
}

img {
  height: auto;
  max-height: none;
  max-width: 100%;
}

html, body, #root {
  height: 100%;
}

a:hover {
  text-decoration: none !important;
}

body, input, button {
  font-family: Roboto, sans-serif;
}

button{
  cursor: pointer;
}
