<template>
  <div class="chart-container">
    <bar-chart></bar-chart>
  </div>
</template>

<script>
  export default {};

  import Vue from 'vue'
  import VueCharts from 'vue-chartjs'

  import axios from 'axios'

  Vue.component('bar-chart', {
    extends: VueCharts.Bar,
    mixins: [VueCharts.mixins.reactiveData],
    mounted () {
      this.renderChart(this.chartData, {responsive: true, maintainAspectRatio: false})
    },
    data: function ()  {
      return {
        chartData: {
          labels: ['Release date'],
          datasets: [
            {
              label: 'price',
              backgroundColor: 'red',
              data: []
            },
            {
              label: 'discount',
              backgroundColor: 'blue',
              data: []
            }
          ]
        }
      }
    },
    created: function() {
      axios.get('./steam.json')
      .then((response)=>{
        const datasets = [
          {
            label: 'Price',
            backgroundColor: 'red',
            data: response.data.map(item => item.price)
          },
          {
            label: 'Discount',
            backgroundColor: 'blue',
            data: response.data.map(item => item.discount)
          }
        ]
        this.chartData = {
          datasets: datasets,
          labels: response.data.map(item => item.release)
        }
      }).catch((err)=>{
        console.log(err);
      });
    }
  })
</script>
