<template>
  <div class="page-tags">
    <Header />
    <b-container>
      <b-row>
        <h1 class="mb-5">Cadastro na plataforma</h1>
      </b-row>
      <b-row class="align-items-center justify-content-start">
        <b-form class="w-50" v-if="show">
          <b-form-group
            id="input-group-1"
            label="Email:"
            label-for="input-1"
            description="We'll never share your email with anyone else."
          >
            <b-form-input
              id="input-1"
              v-model="form.email"
              type="email"
              placeholder="Insira seu email"
              required
            ></b-form-input>
          </b-form-group>

          <b-form-group id="input-group-2" label="Senha:" label-for="input-2">
            <b-form-input
              id="input-2"
              type="password"
              v-model="form.senha"
              placeholder="Insira sua senha"
              required
            ></b-form-input>
          </b-form-group>

          <CustomButton type="submit" variant="dark">Cadastrar</CustomButton>
        </b-form>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Header from '@/components/Header';
import CustomButton from '@/components/CustomButton';

import '@/styles/chart.scss';

export default {
  name: 'GamesComparison',
  components: {
    Header,
    CustomButton
  },
  data() {
    return {
      form: {
        email: '',
        senha: ''
      },
      show: true
    }
  }
}
</script>
