<template>
  <div class="page-tags">
    <Header />
    <b-container>
      <b-row>
        <h1 class="mb-5">Tags</h1>
      </b-row>
      <b-row class="align-items-center justify-content-start">
        <LinkButton class="mr-2" to="/game" variant="primary">+ Ver jogo</LinkButton>
        <LinkButton class="mr-2" to="/gamescomparison" variant="primary">+ Comparar jogos</LinkButton>
        <CustomButton class="mr-2" to="/game" variant="primary">+ Aventura</CustomButton>
        <CustomButton class="mr-2" variant="secondary">+ Ação</CustomButton>
        <CustomButton class="mr-2" variant="success">+ Casual</CustomButton>
        <CustomButton class="mr-2" variant="warning">+ Corridas</CustomButton>
        <CustomButton class="mr-2" variant="danger">+ Indie</CustomButton>
        <CustomButton class="mr-2" variant="info">+ Puzzle</CustomButton>
        <CustomButton class="mr-2" variant="light">+ RPG</CustomButton>
        <CustomButton class="mr-2 btn-lg" variant="dark">+ Fantasia</CustomButton>
    </b-row>
    </b-container>
  </div>
</template>

<script>
import Header from '@/components/Header';
import CustomButton from '@/components/CustomButton';
import LinkButton from '@/components/LinkButton';

export default {
  name: 'Tags',
  components: {
    Header,
    CustomButton,
    LinkButton
  }
}
</script>
