<template>
  <b-navbar class="mb-5" toggleable="lg" type="dark" variant="dark">
    <b-container>
      <router-link class="navbar-brand" to="/">
        <img src="../../assets/logo.png" alt="Logo BiTag">
        BiTag
      </router-link>

      <b-navbar-toggle target="nav-collapse"></b-navbar-toggle>

      <b-collapse id="nav-collapse" is-nav>
        <b-navbar-nav class="ml-auto">
          <b-nav-item-dropdown right>
            <template #button-content>
              <em>
                <b-icon icon="person" style="color: rgba(255, 255, 255, 0.5);"></b-icon>
                Perfil
              </em>
            </template>
            <router-link class="dropdown-item" to="/register">
              <b-icon icon="plus" variant="dark"></b-icon>
              Criar conta
            </router-link>
            <router-link class="dropdown-item" to="/register">
              <b-icon icon="box-arrow-in-right" class="p-1" variant="dark"></b-icon>
              Login
            </router-link>
          </b-nav-item-dropdown>
        </b-navbar-nav>
      </b-collapse>
    </b-container>
  </b-navbar>
</template>

<script>
  export default {
  };
</script>
