<template>
  <div class="page-home">
    <Header />
    <b-container>
      <b-row class="align-items-center">
        <b-col cols="12" sm="6">
          <h1>BiTag</h1>
          <p>Business Intelligence, Tags, Jogos.</p>

          <LinkButton class="btn-lg" variant="info" to="/tags">+ Acessar plataforma</LinkButton>
        </b-col>
        <b-col class="mt-3 mt-sm-0" cols="12" sm="6">
          <img alt="BiTag" src="../../assets/tech.png">
        </b-col>
      </b-row>
    </b-container>
  </div>
</template>

<script>
import Header from '@/components/Header';
import LinkButton from '@/components/LinkButton';

export default {
  name: 'Home',
  components: {
    Header,
    LinkButton
  }
}
</script>
