<template>
  <b-button :type="type" :class="'btn btn-'+variant" :variant="variant">
    <slot />
  </b-button>
</template>

<script>
  export default {
    props: {
			variant: {
				type: String,
				required: true
      },
      type: {
				type: String,
				default: "button"
			}
		}
  };
</script>
